/* Global style */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* Accordion */
section{
  height:100vh;
  padding:10px;
}
/* Title */
.title{
  text-align: center;
  color: orange;
  padding: 10px;
  font-size: 40px;
}
.card{
  width:70vw;
  margin:0 auto;
}
.header
{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444;
  color:#fff;
  padding:20px;
  margin:10px;
}
.content{
  display:flex;
  justify-content: center;
  align-items: center;
  width:70vw;
  padding:20px;
  color:#444;
  text-align: left;
  line-height:1.7rem;
  letter-spacing: 1px;
  background-color: #fff;
}